@namespace MySolution.MyComponentsLib.Components

<button @ref="_buttonRef"
        class="spectacular-button @(Disabled ? "disabled" : "")"
        @onclick="HandleClick"
        disabled="@Disabled">
    @if (IsLoading)
    {
        <div class="loading-spinner"></div>
    }
    else
    {
        <i class="@IconClass icon"></i>
        <span>@Text</span>
    }
</button>
